<form class="basicform" [formGroup]="form">
  <mat-form-field>
    <mat-label i18n>Poll starts</mat-label>
    <app-date-time-picker formControlName="Start"></app-date-time-picker>
  </mat-form-field>
  <mat-form-field>
    <mat-label i18n>Poll ends</mat-label>
    <app-date-time-picker formControlName="Deadline"></app-date-time-picker>
  </mat-form-field>
  <mat-form-field class="least-most" i18n>
    <mat-label>Number of rounds</mat-label>
    <div role="group" class="merged-input">
      Between
      <input matInput type=number size="3" min="2" [max]="minMax()" formControlName="MinNbRounds" />
      &nbsp;and
      <input matInput type=number size="3" [min]="maxMin()" max="255" formControlName="MaxNbRounds" />
      &nbsp;rounds.
    </div>
  </mat-form-field>
  <mat-form-field>
    <mat-label i18n>Maximum round duration</mat-label>
    <app-day-hour-min-duration formControlName="MaxRoundDuration"></app-day-hour-min-duration>
  </mat-form-field>
  <mat-radio-group formControlName="ReportVote">
    <p class="radio-hint" i18n>When a user did not vote on a round</p>
    <mat-radio-button [value]="true"  i18n>Carry forward the previous vote.</mat-radio-button>
    <mat-radio-button [value]="false" i18n>Count the vote as an abstention.</mat-radio-button>
  </mat-radio-group>
</form>
<div class="formerrors" *ngIf="!form.valid">
  <p *ngIf="tooEarlyDeadline()" i18n>
    The end of the poll must be at lest one hour in the future.
  </p>
  <p *ngIf="wrongInterval()" i18n>
    Wrong number of rounds interval.
  </p>
  <p *ngIf="tooFewRounds()">
    The minimal number of rounds must be at least 2.
  </p>
  <p *ngIf="wrongDuration()">
    Wrong maximal round duration.
  </p>
  <p *ngIf="tooShortDuration()">
    Maximal round duration must be at least one minute.
  </p>
</div>

<ng-template #stepInfo let-query="query$">
  <ng-container *ngIf="query | async as q">
    <p i18n>
      The poll is divided in {{ q.MinNbRounds }}
      <ng-container *ngIf="q.MinNbRounds != q.MaxNbRounds"> to {{ q.MaxNbRounds }}</ng-container>
      rounds.
      At each round, the par&shy;tic&shy;i&shy;pants will have to choose one of the al&shy;ter&shy;na&shy;tives.
      A round ends when all the par&shy;tic&shy;i&shy;pants have voted, or after {{ q.MaxRoundDuration | duration }}.
      Par&shy;tic&shy;i&shy;pants that did not vote during a round
      <ng-container [ngSwitch]="q.ReportVote">
        <ng-container *ngSwitchCase="true">
          get their pre&shy;vi&shy;ous vote car&shy;ried forward.
        </ng-container>
        <ng-container *ngSwitchCase="false">
          are con&shy;sid&shy;ered as ab&shy;sten&shy;tion&shy;ists for that round.
        </ng-container>
      </ng-container>
    </p>
    <p i18n>
      The poll will start
      <ng-container [ngSwitch]="startsNow()">
        <ng-container *ngSwitchCase="true">
          as soon as it is created.
        </ng-container>
        <ng-container *ngSwitchCase="false">
          {{ q.Start | nearDate:'inside' }}.
        </ng-container>
      </ng-container>
      It will end after the {{ q.MaxNbRounds | ordinal }} round<ng-container *ngIf="q.MinNbRounds != q.MaxNbRounds">,
      or {{ q.Deadline | nearDate:'inside' }} if at least {{ q.MinNbRounds }} rounds have already been done,
      whichever happens first</ng-container>.
    </p>
  </ng-container>
</ng-template>
