<form class="basicform" [formGroup]="form">
  <label i18n>Poll end:</label><app-date-time-picker formControlName="Deadline"></app-date-time-picker>
    <div role="group" class="least-most">
      <mat-form-field appearance="standard" i18n>
        <mat-label>Number of rounds</mat-label>
        <div class="inner-field">
          <div>
            At least
            <input matInput type=number size="3" min="2" [max]="minMax()" formControlName="MinNbRounds" />
            &nbsp;rounds,&nbsp;
          </div>
          <div>
            at most
            <input matInput type=number size="3" [min]="maxMin()" max="255" formControlName="MaxNbRounds" />
            &nbsp;rounds.
          </div>
        </div>
      </mat-form-field>
    </div>
  <label i18n>Max round duration:</label><app-day-hour-min-duration formControlName="MaxRoundDuration"></app-day-hour-min-duration>
</form>
<div class="formerrors" *ngIf="!form.valid">
  <p *ngIf="tooEarlyDeadline()" i18n>
    The end of the poll must be at lest one hour in the future.
  </p>
  <p *ngIf="wrongInterval()" i18n>
    Wrong number of rounds interval.
  </p>
  <p *ngIf="tooFewRounds()">
    The minimal number of rounds must be at least 2.
  </p>
  <p *ngIf="wrongDuration()">
    Wrong maximal round duration.
  </p>
  <p *ngIf="tooShortDuration()">
    Maximal round duration must be at least one minute.
  </p>
</div>

<ng-template #stepInfo let-query="query$">
  <ng-container *ngIf="query | async as q">
    <p>
      The poll is divided in {{ q.MinNbRounds }} to {{ q.MaxNbRounds }} rounds.
      At each round, the participants will have to choose one of the alternatives.
      A round ends when all the participants have voted, or after {{ q.MaxRoundDuration | duration }}.
    </p>
    <p>
      The poll ends after the {{ q.MaxNbRounds | ordinal }} round,
      or {{ q.Deadline | nearDate:'inside' }} if at least {{ q.MinNbRounds }} rounds have already been done,
      whichever happens first.
    </p>
  </ng-container>
</ng-template>
