<div cdkDropList class="alternatives-list">
  <div *ngFor="let alt of alternatives" class="merged-userbox-grow alternative"
   [@deleteTrigger]="justDeleted == alt.Id ? 'justDeleted' : 'Ok'" (@deleteTrigger.done)="onDeleteDone()">
    <input type="text" [value]="alt.Name" />
    <button><mat-icon (click)="onDelete(alt.Id)">delete</mat-icon></button>
  </div>
</div>
<form class="new-alternative" [formGroup]="form" (ngSubmit)="onAdd()">
  <mat-form-field appearance="standard">
    <mat-label i18n>New alternative</mat-label>
    <input matInput type="text" formControlName="New" [errorStateMatcher]="errorStateMatcher" />
    <button mat-icon-button matSuffix type="submit" [disabled]="!form.valid" i18n><mat-icon>add</mat-icon></button>
  </mat-form-field>
</form>
<div class="formerrors" *ngIf="!(validable$ | async)">
  <p *ngIf="hasDuplicate()" i18n>
    There already is an alternative with the same name.
  </p>
  <p *ngIf="alternatives.length < 2" i18n>
    You must add at least
    { alternatives.length, plural, =0 {two alternatives} =1 { one more alternative} }
    to this poll.
  </p>
</div>

<ng-template #stepInfo let-query="query$">
  <ng-container *ngIf="query | async as q">
    <p>
      At each round, each participant will vote for one of the alternatives.
    </p>
  </ng-container>
</ng-template>
