<div class="navtitle-inner">
  <h1 i18n><a routerLink="/">Itero</a></h1>
  <h2 i18n>Online iterative vote application</h2>
  <nav>
    <a *ngIf="(session.state$ | async).logged" routerLink="/r/list" routerLinkActive="active">
      <span class="navitem" i18n>Polls</span>
    </a>
    <a *ngIf="!(session.state$ | async).logged" routerLink="/r/session/signup" routerLinkActive="active">
      <span class="navitem" i18n>Sign up</span>
    </a>
    <a *ngIf="!(session.state$ | async).logged" routerLink="/r/session/login" routerLinkActive="active">
      <span class="navitem" i18n>Log in</span>
    </a>
    <a *ngIf="(session.state$ | async).logged"  routerLink="/r/create" routerLinkActive="active">
      <span class="navitem">Create</span>
    </a>
    <a *ngIf="(session.state$ | async).logged" [matMenuTriggerFor]="profileMenu">
      <span class="navitem"><mat-icon>person</mat-icon></span>
    </a>
  </nav>
</div>
<mat-menu #profileMenu="matMenu" class="nav-menu" xPosition="before">
  <button mat-menu-item (click)="notify.askAUthorization()"><mat-icon>notifications</mat-icon> Notifications</button>
  <button mat-menu-item (click)="logoff()"><mat-icon>logout</mat-icon> Log off</button>
</mat-menu>
