@use 'sass:color'
@import '../../colors'
@import '../../typo'
@import '../../sizes'

div#navtitle
  background-color: $maincolor
  color: $fgOnMaincolor
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: $navbarheight
  .titles
    float: left
    h1, h2
      display: inline
      font-family: $titlefont
      position: relative
      top: 3pt
    h2
      font-size: 12pt
      font-weight: normal
      margin: auto 1em
  nav
    float: right
    $innermargin: 4px
    $border: solid 1px $fgOnMaincolor
    a
      display: inline-flex
      border-right: $border
      margin: $innermargin 0 0 0
      padding: 0 6px
      height: $navbarheight - (2 * $innermargin)
      color: $fgOnMaincolor
      text-decoration: none
      cursor: pointer
      .navitem
        margin: auto 0
      &:first-child
        border-left: $border
      &:hover
        background-color: color.adjust($maincolor, $lightness: 20%)
      &.active
        background-color: color.adjust($maincolor, $lightness: 10%)
      &.active:hover
        background-color: color.adjust($maincolor, $lightness: 30%)

