@import '../../sizes'

app-navtree
  grid-column: span 2

mat-radio-group
  display: flex
  flex-wrap: wrap
  justify-content: flex-start
  padding-bottom: 1em
  justify-content: flex-start
  mat-radio-button
    padding: $small-space .6em
  .radio-hint
    width: 100%
