<h3 i18n>Create a new poll</h3>
<div id="creation" *ngIf="nextStatus$ | async as nextStatus else loading">
  <app-navtree    [stepStatus]="stepStatus$ | async" [validable]="nextStatus.validable" (navigateTo)="onJump($event)"></app-navtree>
  <router-outlet></router-outlet>
  <app-navbuttons [stepStatus]="stepStatus$ | async" [validable]="nextStatus.validable" (navigateTo)="onJump($event)"></app-navbuttons>
</div>
<ng-template #loading>
  <div class="loading" i18n>... Loading ...</div>
</ng-template>
