@import '../../colors'

.create-container
  display: grid
  grid-template-columns: max-content minmax(min-content, 25%)

app-navtree
  grid-column: span 2

app-navbuttons
  .formactions
    margin-top: 8px
  .basicform
    grid-template-columns: max-content 1fr

.information
  margin-left: 8px
  border-left: solid 1px $maincolor
  padding-left: 8px
  p
    font-style: italic
    margin-top: 0
