<div class="previousVotes">
  <p *ngIf="hasPrevious()">
    On the previous round, you voted <span class="vote">{{previous()}}</span>.
  </p>
  <p *ngIf="hasCurrent()">
    On the current round, you've already voted <span class="vote">{{current()}}</span>.
    You may now change this vote, if you want to.
  </p>
  <p *ngIf="hasJust()">
    Your vote for <span class="vote">{{just()}}</span> has been taken into account.
  </p>
</div>
<form *ngIf="!!answer && !hasJust()" class="basicform">
  <ul class="selection-list">
    <li *ngFor="let alt of answer.Alternatives" [class.selected]="isSelected(alt.Id)" (click)="onSelect(alt.Id)">{{alt.Name}}</li>
  </ul>
  <div class="formactions">
    <button type="button" [disabled]="!isValid()" (click)="onVote()" i18n>Vote</button>
    <button type="button" (click)="onAbstain()" i18n>Abstain</button>
  </div>
</form>
