<div class="hasJust previousVotes" *ngIf="hasJust()">
  <p i18n>
    Your
    <ng-container *ngIf="lastVote.Blank">blank</ng-container>
    vote
    <ng-container *ngIf="!lastVote.Blank">for <span class="vote">{{just()}}</span></ng-container>
    has been taken into account.
  </p>
</div>
<form *ngIf="!!answer && !hasJust()" class="basicform">
  <ul class="selection-list">
    <li *ngFor="let alt of answer.Alternatives" [class.selected]="isSelected(alt.Id)" (click)="onSelect(alt.Id)">{{alt.Name}}</li>
  </ul>
  <div class="formactions">
    <button type="button" [disabled]="!isValid()" (click)="onVote()" i18n>Vote</button>
    <button type="button" (click)="onAbstain()" i18n>Abstain</button>
  </div>
</form>
