<div class="previousVotes">
  <p *ngIf="hasPrevious()">
    On the previous round, you voted <span class="vote">{{previous()}}</span>.
  </p>
  <p *ngIf="hasCurrent()">
    For the current round, you already voted <span class="vote">{{current()}}</span>.
    You may now change this vote, if you want to.
  </p>
</div>
<form *ngIf="!!answer" class="basicform" [formGroup]="form">
  <label i18n>Your choice:</label>
  <mat-form-field appearance="outline">
    <mat-select>
      <mat-option *ngFor="let alt of answer.Alternatives" [value]="alt.Id">{{alt.Name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <div class="formactions">
    <button type="submit" i18n>Vote</button>
  </div>
</form>
