@import '../../../colors'
table
  border: solid 1px $maincolor
  border-collapse: collapse
  thead
    border: solid 1px $maincolor
  td, th
    padding: 2px 4px
  tr.tableheader
    background-color: $softbgcolor
  tr.poll
    td
      cursor: default
    &:hover
      background-color: $softbgcolor
    td.round, td.deadline, td.terminated
      text-align: center
    td.action
      cursor: pointer
      span
        display: block
        margin: auto
        border-radius: 2px
        font-size: smaller
        padding: 3px .5em
        text-align: center
      .part
        background-color: lightblue
      .vote
        background-color: lightgreen
      .modi
        background-color: orange
      .term
        background-color: $userbuttonbgcolor
      .wait
        background-color: $softbgcolor
        border: solid 1px $userbuttonbgcolor
    td.manage span
      cursor: pointer
      &:hover
        color: $maincolor
