<form [formGroup]="form">
  <mat-form-field class="lone-field" appearance="standard">
    <mat-label i18n>Title</mat-label>
    <input matInput type="text" formControlName="Title" />
  </mat-form-field>
  <mat-form-field class="lone-field" appearance="standard">
    <mat-label i18n>Description</mat-label>
    <textarea matInput rows="1" formControlName="Description"></textarea>
  </mat-form-field>
  <mat-radio-group formControlName="Hidden">
    <p class="radio-hint" i18n>Publicity</p>
    <mat-radio-button [value]="false" i18n>Display the poll in the list.</mat-radio-button>
    <mat-radio-button [value]="true"  i18n>Manually spread the link.</mat-radio-button>
  </mat-radio-group>
</form>

<ng-template #stepInfo let-query="query$">
  <ng-container *ngIf="query | async as q">
    <p i18n>
      The title of the poll should be the question the poll will answer to.
    </p>
    <p i18n>
      The optional description may give some additional information,
      for instance about the different alternatives.
    </p>
    <p *ngIf="!q.Hidden; else Hidden" i18n>
      The title will be displayed in the list of polls,
      allowing any user to participate in.
      If you don't want the poll to be public, select "Manually spread the link".
    </p>
    <ng-template #Hidden>
      <p>
        The title will be displayed in the list of poll only for the participants in the poll.
        You will have to send the link of the poll to all the participants.
        If you prefer your poll to be public, select "Display the poll in the list".
      </p>
    </ng-template>
  </ng-container>
</ng-template>
