<form [formGroup]="form">
  <mat-radio-group formControlName="Electorate">
    <p class="radio-hint" i18n>Electorate</p>
    <mat-radio-button [value]="-1" i18n>Accept unlogged users.</mat-radio-button>
    <mat-radio-button [value]="0" i18n>Logged users only.</mat-radio-button>
    <mat-radio-button [value]="1" *ngIf="(session.state$ |async).verified" i18n>
      Only users with a verified email.
    </mat-radio-button>
  </mat-radio-group>
  <mat-radio-group formControlName="Hidden">
    <p class="radio-hint" i18n>Accessibility</p>
    <mat-radio-button [value]="false" i18n>Make the poll public.</mat-radio-button>
    <mat-radio-button [value]="true"  i18n>Manually spread the link.</mat-radio-button>
  </mat-radio-group>
  <div class="custom-field">
    <p class="field-hint" i18n>Shortcut URL</p>
    <mat-checkbox #CBShortURL (change)="onCBShortURL($event)" i18n>Provide a shortcut URL</mat-checkbox>
    <mat-form-field class="lone-field sub-field no-label" appearance="fill" *ngIf="CBShortURL.checked">
      <input matInput type="text" formControlName="ShortURL" floatLabel="always" placeholder="Shortcut URL" />
    </mat-form-field>
  </div>
</form>
<div class="formerrors" *ngIf="!form.valid">
  <p *ngIf="shortURLIsTooShort" i18n>
    The shortcut URL must be at least {{ shortURLMinLength }} characters long.
  </p>
  <p *ngIf="shortURLHasWrongFormat" i18n>
    The shortcut URL can contain only plain characters (a-z and A-Z), numbers (0-9), hyphen (-),
    underscore (_), dot (.) and tilde (~).
  </p>
</div>
<div class="formerrors" *ngIf="!serverError.ok" [ngSwitch]="serverError.message">
  <p *ngSwitchCase="'ShortURL already exists'" i18n>There already is a poll with this shortcut URL.</p>
</div>

<ng-template #stepInfo let-query="query$">
  <ng-container *ngIf="query | async as q">
    <p *ngIf="!q.Hidden; else Hidden" i18n>
      The title will be displayed in the list of polls,
      allowing
      <ng-container [ngSwitch]="q.Verified">
        <ng-container *ngSwitchCase="false">any user</ng-container>
        <ng-container *ngSwitchCase="true" >users with a ver&shy;i&shy;fied email</ng-container>
      </ng-container>
      to par&shy;tic&shy;i&shy;pate in.
      If you don't want the poll to be public, select "Manually spread the link".
    </p>
    <ng-template #Hidden>
      <p>
        The title will be displayed in the list of poll only for the par&shy;tic&shy;i&shy;pants in the poll.
        You will have to send the link of the poll to all the par&shy;tic&shy;i&shy;pants.
        <ng-container *ngIf="q.Verified">
          Beware that users whose email is not verified yet will not have access to the poll.
        </ng-container>
        If you prefer your poll to be public, select "Make the poll public".
      </p>
    </ng-template>
  </ng-container>
</ng-template>
