<form [formGroup]="form">
  <mat-radio-group formControlName="Electorate">
    <p class="radio-hint" i18n>Electorate</p>
    <mat-radio-button [value]="-1" i18n>Accept unlogged users.</mat-radio-button>
    <mat-radio-button [value]="0" i18n>Logged users only.</mat-radio-button>
    <mat-radio-button [value]="1" *ngIf="(session.state$ |async).verified" i18n>
      Only users with a verified email.
    </mat-radio-button>
  </mat-radio-group>
  <mat-radio-group formControlName="Hidden">
    <p class="radio-hint" i18n>Accessibility</p>
    <mat-radio-button [value]="false" i18n>Make the poll public.</mat-radio-button>
    <mat-radio-button [value]="true"  i18n>Manually spread the link.</mat-radio-button>
  </mat-radio-group>
  <div class="custom-field">
    <p class="field-hint" i18n>Shortcut URL</p>
    <mat-checkbox #CBShortURL (change)="onCBShortURL($event)" i18n>Provide a shortcut URL</mat-checkbox>
    <mat-form-field class="lone-field sub-field no-label" appearance="fill" *ngIf="CBShortURL.checked">
      <input matInput type="text" formControlName="ShortURL" floatLabel="always" placeholder="Shortcut URL" />
    </mat-form-field>
  </div>
</form>
<div class="formerrors" *ngIf="!form.valid">
  <p *ngIf="shortURLIsTooShort" i18n>
    The shortcut URL must be at least {{ shortURLMinLength }} characters long.
  </p>
  <p *ngIf="shortURLHasWrongFormat" i18n>
    The shortcut URL can contain only plain characters (a-z and A-Z), numbers (0-9), hyphen (-),
    underscore (_), dot (.) and tilde (~).
  </p>
</div>
<div class="formerrors" *ngIf="!serverError.ok" [ngSwitch]="serverError.message">
  <p *ngSwitchCase="'ShortURL already exists'" i18n>There already is a poll with this shortcut URL.</p>
</div>

<ng-template #stepInfo let-query="query$">
  <ng-container *ngIf="query | async as q">
    <p *ngIf="q.Electorate === -1" i18n>
      Everybody will be able to par&shy;tic&shy;i&shy;pate in the poll, even un&shy;logged users.
      Beware that it will be very easy for a ma&shy;li&shy;cious user to vote more than once.
    </p>

    <p *ngIf="!q.Hidden; else Hidden" i18n>
      All users <ng-container *ngIf="q.Electorate === 1">with a ver&shy;i&shy;fied email</ng-container> will
      see the poll in their list.
    </p>
    <ng-template #Hidden>
      <p>
        Only the participants in the poll will see it in their list.
        You will have to send the link of the poll for the users to be able to par&shy;tic&shy;i&shy;pate.
        <ng-container *ngIf="!q.ShortURL">
          If the users could not copy-paste the link, you should provide an easy to remember shortcut URL.
        </ng-container>
        <ng-container *ngIf="q.Electorate === 1">
          Beware that users whose email is not verified yet will not have access to the poll.
        </ng-container>
      </p>
    </ng-template>

  </ng-container>
</ng-template>
