<h3>Poll list</h3>
<table *ngIf="polls.length > 0" id="polllist">
  <tr class="tableheader">
    <th i18n>Title</th>
    <th i18n>Round</th>
    <th i18n>Deadline</th>
    <th i18n>Action</th>
  </tr>
  <tbody>
  <tr *ngFor="let poll of polls" class="poll">
    <td class="title">{{poll.t}}</td>
    <td class="round">{{poll.c}}/{{poll.m}}</td>
    <td class="deadline" i18n>
      {poll.deadlineCategory, select,
      None {None}
      Today {Today at {{poll.d | date:'h:mm aa'}}}
      Tomorrow {Tomorrow at {{poll.d | date:'h:mm aa'}}}
      Week {Next {{poll.d | date:'EEEE'}} at {{poll.d | date:'h aa'}}}
      Month {{{poll.d | date:'MMMM d'}}, at {{poll.d | date:'h aa'}}}
      Year {{{poll.d | date:'longDate'}}}
      }
    </td>
    <td class="action" [ngSwitch]="poll.a" (click)="go(poll.s)">
      <span class ="part" *ngSwitchCase="'Part'" i18n>Join</span>
      <span class ="vote" *ngSwitchCase="'Vote'" i18n>Vote</span>
      <span class ="modi" *ngSwitchCase="'Modi'" i18n>Modify</span>
    </td>
  </tr>
  </tbody>
</table>
<p *ngIf="polls.length == 0" i18n>There is no poll you can participe in now. Maybe can you create your own?</p>
