<app-server-error [error]="error$ | async"></app-server-error>
<mat-tab-group mat-align-tabs="center" id="tab-polls">
  <mat-tab  label="Participate" class="poll-list" *ngIf="(publicList$ | async)?.length">
    <div class="poll-list">
      <h3>Polls you participate in</h3>
      <app-polls-table [polls]="publicList$ | async"></app-polls-table>
    </div>
  </mat-tab>
  <mat-tab label="Created" class="poll-list" *ngIf="(ownList$ | async)?.length">
    <div class="poll-list">
      <h3>Polls you have created</h3>
      <app-polls-table [polls]="ownList$ | async"></app-polls-table>
    </div>
  </mat-tab>
</mat-tab-group>