@import '../../colors'
table#polllist
  border: solid 1px $maincolor
  border-collapse: collapse
  td, th
    padding: 2px 4px
  tr.tableheader
    background-color: $softbgcolor
  tr.poll
    td
      cursor: default
      border-top: solid 1px $maincolor
    &:hover
      background-color: $softbgcolor
    td.round, td.deadline, td.terminated
      text-align: center
    td.action
      cursor: pointer
      span
        display: block
        margin: auto
        border-radius: 2px
        font-size: smaller
        padding: 2px
        text-align: center
      .part
        background-color: lightblue
      .vote
        background-color: lightgreen
      .modi
        background-color: orange
      .term
        background-color: $userbuttonbgcolor
