@import 'colors'
@import 'sizes'

@mixin userbox
  border: solid 1px $maincolor
  border-radius: 3px
  padding: $userboxpadding
  color: $useboxfgcolor

@mixin userinput
  @include userbox
  background-color: $softbgcolor

@mixin userbutton
  @include userbox
  background-color: $userbuttonbgcolor
  padding: $userboxpadding #{$userboxpadding * 2}
  font-size: $fontsize
