@use 'sass:color'
@import 'sizes'
@import 'typo'
@import 'decos'

@mixin userbox
  border: $simple-frame
  border-radius: 3px
  padding: $small-space
  color: $useboxfgcolor
  font-family: $mainfont
  font-size: $fontsize - 1

@mixin userinput
  @include userbox
  background-color: $softbgcolor

@mixin overhilight
  box-shadow: 2px 6px 12px color.change(color.adjust($maincolor, $saturation: -20%), $lightness: 85%)
  padding: 4px
