@use 'sass:color'

$maincolor: #602c57
//$maincolor: #613613
//$maincolor: #85200b
//$maincolor: #5421ad
//$maincolor: #d48500

$userbuttonbgcolor: color.adjust($maincolor, $saturation: -10%, $lightness: 50%)
$softbgcolor: color.adjust($userbuttonbgcolor, $lightness: 20%)

$fgOnMaincolor: white
$errorcolor: red

$contmaxwidth: 1100px
$contpadding: 8px

$navbarheight: 40px

$userboxpadding: 4px
$formfontsize: 11pt

body
  font-family: "Droid Sans", sans-serif
  margin: #{$navbarheight + 16} 8px 8px
  color: color.adjust($maincolor, $lightness: -25%)

.main-container
  max-width: $contmaxwidth
  margin: 0 auto
  padding: 0 $contpadding

$useboxfgcolor: color.change($maincolor, $lightness: 16%)

@mixin userbox
  border: solid 1px $maincolor
  border-radius: 3px
  padding: $userboxpadding
  color: $useboxfgcolor
  font-size: $formfontsize

@mixin userinput
  @include userbox
  background-color: $softbgcolor

@mixin userbutton
  @include userbox
  background-color: $userbuttonbgcolor
  padding: $userboxpadding #{$userboxpadding * 2}

form.basicform
  label
    font-size: $formfontsize
    white-space: nowrap
  input
    @include userinput

@function tame($color)
  @return color.adjust($color, $saturation: -20%, $lightness: +10%)

form .formactions
  button
    @include userbutton
    &:hover
      background-color: color.adjust($maincolor, $lightness: 20%)
      color: $fgOnMaincolor
    &[disabled], &[disabled]:hover
      border-color: tame($maincolor)
      background-color: tame($userbuttonbgcolor)
      color: tame($useboxfgcolor)
    
form.basicform
  display: grid
  grid-template-columns: min-content min-content
  gap: 4px
  align-items: center
  label, input
    grid-area: auto
  .formerrors
    color: $errorcolor
    font-size: 10pt
    p
      margin: 0
  .formactions
    border-top: solid 1px $maincolor
    padding: 4px 0
    display: flex
    flex-flow: row-reverse
    button
      margin-left: 4px
