@import './responsive';

$mainfont: 'Asap';
$fontsize: 13pt;

$titlefont: 'Overpass';
$infofont: 300 100% 'Livvic';

//laptop-size (default size)
@media all and (min-width : $breakpoint-laptop)
{
  :root {
    --font-size: #{$fontsize};
    --small-font-size: #{$fontsize - 1};
  }
}

//tablet-size
@media all and (min-width : $breakpoint-tablet + 1) and (max-width : $breakpoint-laptop - 1px)
{
  :root {
    --font-size: #{$fontsize - 1};
    --small-font-size: #{$fontsize - 2};
  }
}

//phone-size
@media all and  (max-width: $breakpoint-tablet)
{
  :root {
    --font-size: #{$fontsize - 2};
    --small-font-size: #{$fontsize - 3};
  }
}
