// We define the fonts in SCSS instead of SASS, because maps suck in SASS :(
@import '~@angular/material/theming';

$mainfont: 'Asap';
$fontsize: 13pt;
$smallfontsize: 10pt;

$titlefont: 'Overpass';
$infofont: 300 100% 'Livvic';

$itero-mat-typography: mat-typography-config(
  $font-family: $mainfont,
  $body-1:    mat-typography-level($fontsize, 1.2),
  $headline:  mat-typography-level(32px,      1.2, $font-family: $titlefont),
  $title:     mat-typography-level($fontsize, 1.2, $font-family: $titlefont),
  $button:    mat-typography-level($fontsize, 1.2),
  $input:     mat-typography-level($fontsize, 1.3),
);

:root{
  --font-size: 13pt;
}

// other styles classes for the screen size
//phone-size:  320px and 480px
@media only screen and (max-width : $phone-size){
  :root{
    --font-size: 11pt;}
  }

//tablet-size: 481px and 768px
@media only screen and (min-width : $phone-size + 1px) and (max-width : $tablet-size){
    :root{
        --font-size: 11.5pt;}
      }

//laptop-size: 769px and 1024px
@media only screen and (min-width : $tablet-size + 1px) and (max-width : $laptop-size){
    :root{
        --font-size: 12pt;}
      }

//deskpot-size: 1025px and 1200px
@media only screen and (min-width : $deskpot-size) {
    :root{
        --font-size: 13pt;}
      }
