@import '../../../mixins'
@import '../../../responsive'

:host
  display: flex
  justify-content: center
  font-size: smaller
  padding-bottom: 8px
  border-bottom: solid 1px $maincolor
  margin-bottom: 8px
  .step
    @include userinput
    transition-property: background-color, color, border-color
    transition-duration: 500ms
  .current-step
    background-color: $userbuttonbgcolor
    transition: background-color 300ms
  .jumpable-step
    cursor: pointer
  .disabled-step
    border-color: $disabled-frame-color
    color: $disabled-fg-color
    background-color: $disabled-bg-color
  .placeholder
    width: 50px
    margin: auto 0
    border-bottom: solid 1px $maincolor
  .placeholder.disabled-step
    border-bottom-style: dotted
    border-bottom-color: $disabled-frame-color
  @media screen and (max-width: $breakpoint-width)
    div:not(.current-step)
      span.stepName
        display: none
