<ng-container *ngIf="stepStatus else loading">
  <ng-container *ngFor="let step of stepStatus.steps; last as last; index as index">
    <div class="step" (click)="navigateTo.emit(index)"
         [class.current-step]="index == stepStatus.current"
         [class.jumpable-step]="isNavigable(index)"
         [class.disabled-step]="!isEnabled(index)" >
      <span class="index">{{ index + 1 }}</span> 
      <span class="stepName" i18n>{{ step }}</span>
    </div>
    <div *ngIf="!last" class="placeholder" [class.disabled-step]="!isEnabled(index + 1)"></div>
  </ng-container>
  <div *ngIf="stepStatus.mayHaveMore" class="placeholder mayHaveMore">&nbsp;</div>
</ng-container>
<ng-template #loading>
  <div class="loading" i18n>... Loading ...</div>
</ng-template>
