<div class="section">
  <h3>Why iterative voting ?</h3>
  <p>
    Most common voting systems, like <a href="https://en.wikipedia.org/wiki/Majority#Majority_vote">majority</a>
    and <a href="https://en.wikipedia.org/wiki/Plurality_(voting)">plurality</a>, have been proved by scientists
    to have some important limitations. In particular, these voting systems encourage
    <a href="https://en.wikipedia.org/wiki/Tactical_voting">strategic voting</a>: voters usually first guess which
    alternatives are likely to win and limit their vote to these possible winners.
    This may result in unexpected outcomes, with a possibly large number of voters regretting their choice.
  </p>
  <p>
    Iterative voting proposes to mitigate the impact of strategic voting by voting multiple times.
    On the first rounds, voters can vote for their prefered alternative wihout the risk of regretting their vote,
    because they know they could change their vote later on.
    At later rounds, voters may change their vote to an alternative with more chances to win.
    This decision is not based on a guess, as in non-iterative votes, but on the results of the previous rounds.
  </p>
</div>


<div class="section">
  <h3>Welcome to <span class="itero-name">Itero</span></h3>
  <p>
    <span class="itero-name">Itero</span> is an online platform that allows you to easily create and participate
    in iterative votes.
    Polls in <span class="itero-name">Itero</span> are divided in rounds.
    At each round, all participants in a poll vote for an alternative.
    The winning alternative is the one that received most vote on the last round of the poll.
    <ng-container *ngIf="(demoIsActive$ | async)">
      Let's try the <a [routerLink]="(demoPath$ | async)">demo poll</a>.
    </ng-container>
  </p>
  <p>
    <span class="itero-name">Itero</span> has been developed at
    <a href="https://www.ut-capitole.fr/">Université Toulouse Capitole</a> as part of
    the <a href="https://www.irit.fr/scone/">Scone project</a>&ngsp;<span class="project-refs">(ANR-18-CE23-0009)</span>.
  </p>
</div>

<div id="logos">
  <a href="https://www.irit.fr/">
    <img id="irit" alt="IRIT - Institut de Recherche en Informatique de Toulouse" src="/assets/IRIT-big.svg" height="90" />
  </a>
  <a href="https://anr.fr/">
    <img id="anr" alt="ANR - Agence Nationale de la Recherche" src="/assets/anr-logo.png" />
  </a>
</div>
