<div class="section">
  <h3>Why iterative voting ?</h3>
  <p>
    Most common voting systems, like <a href="https://en.wikipedia.org/wiki/Majority#Majority_vote">majority</a>
    and <a href="https://en.wikipedia.org/wiki/Plurality_(voting)">plurality</a>, have been proved by scientists
    to have some important limitations. In particular, these voting systems encourage
    <a href="https://en.wikipedia.org/wiki/Tactical_voting">strategic voting</a>: voters usually first guess which
    alternatives are likely to win and limit their vote to these possible winners. This may results in outcomes in
    contradiction with the sincere preferences of the voters.
  </p>
  <p>
    Iterative voting proposes to mitigate the impact of strategic voting by voting multiple times.
    On the first rounds, voters can vote for their prefered alternative wihout the risk of loosing their vote,
    because they know they could change their vote later on.
    Then, voters may change their vote to an alternative with more chances to win.
    This decision is not based on a guess, as in non-iterative votes, but on the results of the previous rounds of vote.
  </p>
</div>


<div class="section">
  <h3>Welcome to <span class="itero-name">Itero</span></h3>
  <p>
    <span class="itero-name">Itero</span> is an online platform that allows you to easily create and participate
    in iterate votes.
    Polls in <span class="itero-name">Itero</span> are divided in rounds.
    At each round, all participants in a poll vote for an alternative.
    The winning atlernative is the one that received most vote on the last round of the poll.
  </p>
  <p>
    <span class="itero-name">Itero</span> has been developped at
    <a href="https://www.ut-capitole.fr/">Université Toulouse Capitole</a> as part of
    the <a href="https://www.irit.fr/scone/">Scone project</a>.
  </p>
</div>

