@import '../../colors'
@import '../../typo'
@import '../../mixins'

.poll-main > div:nth-child(n+2)
  margin-top: 8px
  border-top: $simple-frame
  padding-top: 16px

.poll-creation
  font-size: smaller
  font-style: italic

.previous-vote, .just-vote, .final-result
  line-height: 1.4
  .vote
    @include userinput
    padding-top: 1px
    padding-bottom: 1px

.poll-previous-results
  form
    margin-top: -1.5em
  .mat-form-field-infix
    width: 60px
  input
    text-align: center
